.user-name {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #ffffff;
}

.user-name:hover {
  color: red;
}
.video-name {
  width: 150px;
  top: calc(50% - 20px / 2 - 236px);
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.video-name:hover {
  color: red;
}

.video-info {
  top: calc(50% - 16px / 2 - 214px);
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.slide-btn {
  left: 88.8%;
  right: 9.74%;
  top: 11.5%;
  bottom: 86.17%;
}

.slide-btn:hover svg path {
  fill: red;
}
